#app {
  width: 400px;
  margin: 0 1em;
  padding: 0.5em 0;
}

.option_item {
  display: block;
  margin-bottom: 1em;
}

input[type="checkbox"] {
  position: relative;
  top: 2px;
}

select,
input[type="text"] {
  vertical-align: middle;
}

select {
  text-transform: capitalize;
}
